<% layout('layouts/boilerplate.ejs') -%>

<section class="container mt-5">
    <div class="row text-center">
        <div class="col-sm-12 col-lg-6 mb-3">
            <div class="card mx-auto" style="width: 22rem">
                <img src="<%=movie.img%>" class="card-img-top" alt="item image"">
                <div class=" card-body">
                    <h5 class="card-title">
                        <%=movie.name%>
                    </h5>
                    <p class="card-text">
                        <%=movie.desc%>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <h1 class="mb-5 mx-auto">Top cast</h1>
            <article>
                <%for(let cast of movie.cast){%>
                    <div class="cast-box mb-4">
                        <span class="picSpan">
                            <img class="cast-picture" src="<%=cast.img%>" alt="cast-picture">
                        </span>
                        <span class="castNameSpan"><h4><%=cast.name%></h4></span>
                    </div>
                <%}%>
            </article>
        </div>
    </div>
</section>

